*.js
!jest.config.js
# *.d.ts removed from gitignore so that full project available on github

# CDK asset staging directory
.cdk.staging
cdk.out

# OS files
.DS_Store

# Schema files
*.schema.json

# dependency & cache dirs
**/node_modules/
layers/shared/.npm/
_cacache/
*.log
